:root {
    /* primary colors */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* neutral colors */
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);

    /* fonts */
    --lexend-deca: 'Lexend Deca', sans-serif;
    --big-shoulders-display: 'Big Shoulders Display', cursive;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: var(--very-light-gray);
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    overflow: hidden;
}

.container > div {
    flex: 1;
}

.container > div > div {
    margin: .7em 1.8em;
}

.car-icon > img {
    height: 1.2em;
}

.car-type > h2 {
    font-family: var(--big-shoulders-display);
    text-transform: uppercase;
    color: var(--very-light-gray);
}

.description > p {
    font-family: var(--lexend-deca);
    color: var(--transparent-white);
    font-size: .6em;
}

.btn > a {
    text-decoration: none;
    display: inline-block;
    padding: .8em 2em;
    font-family: var(--lexend-deca);
    font-size: .6em;
    background-color: var(--very-light-gray);
    border-radius: 25px;
    transition: 0.2s;
}

/* sedan box especific styles */
#container-sedan {
    background-color: var(--bright-orange);
}

#btn-sedan {
    color: var(--bright-orange);
}

#btn-sedan:hover {
    background: var(--bright-orange);
    color: var(--very-light-gray);
    border: 1px solid var(--very-light-gray);
}

/* suv box especific styles */
#container-suv {
    background-color: var(--dark-cyan);
}

#btn-suv {
    color: var(--dark-cyan);
}

#btn-suv:hover {
    background: var(--dark-cyan);
    color: var(--very-light-gray);
    border: 1px solid var(--very-light-gray);
}

/* luxury box especific styles */
#container-luxury {
    background-color: var(--very-dark-cyan);
}

#btn-luxury {
    color: var(--very-dark-cyan);
}

#btn-luxury:hover {
    background: var(--very-dark-cyan);
    color: var(--very-light-gray);
    border: 1px solid var(--very-light-gray);
}

/* desktop resolution */

@media screen and (min-width:480px) {

    .container {
        flex-direction: row;
        width: 65%;
        height: 70%;
    }

    .container > div > div {
        flex: 1;
    }

    .car-icon > img {
        height: 2em;
        margin-top: .8em;
    }

    .car-type > h2 {
        font-size: 2em;
    }

    .description > p {
        font-size: .8em;
        line-height: 1.5em;
    }

    .btn > a {
        font-size: .8em;
        padding: .9em 2em;
        margin-top: 4.5em;
    }

    .container > div > div {
        margin: 1.5em 2.3em;
    }

}